* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}

.main {
  background: url("../images/1.jpg") center no-repeat;

  min-height: 844px;
  padding: 35px 0 100px 0;

  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.6)),
    url("../images/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}



.wpapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #715d00;
  margin: auto 26px;
 font-size: 23px;
}

h1 {
  text-align: center;
  color: #f9e994;
  font-size: 52px;
  font-weight: 700;
  margin: 0 auto;
  word-wrap: break-word;
  width: 700px;
}

.cat {
  margin-top: 42px;
  max-width: 400px;
  font-size: 26px;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main_deckr {
  margin-top: 60px;

  border-radius: 15px;
  width: 323px;
  height: 266px;
  background-color: #7fb3e1;
}

.deskr_item {

  color: #ffffff;


  font-size: 22px;
  padding: 25px;

}
.deskr_text{
    margin: 10px;
    
}
.icons {
  
  float: left;
  margin-top: 20px;
  margin-right: 17px;
  width: 18px;
  height: 24px;


}
.form_icons{
  
display: block;
position: absolute;
  margin-top: 25px;
  margin-left: 35px;
 
  width: 24px;
  height: 24px;
}
.d {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 370px;
  height: 400px;

}
.d img {
  width: 100%;
}
.defore {
  position: absolute;
  height: 100%;
  right: 250px;
  top: 80px;
  z-index: 1;

  
}
.center {
  position: absolute;
  margin-top: 62px ;
  height: 100%;
  
margin-left: -60px;
}
.after {
  position: absolute;
height:100%;

z-index: 1;

  left: 135px;
  top: 80px;
}
.form {

  text-align: center;
  display: flex;
position: relative;
  flex-direction: column;
  width: 270px;
  background-color:#FDFCFC;
  margin-top: 8px;
  max-height: 462px;
}
.order_date{
    color: #444444;
    font-size: 18px;
    font-weight: 400;
    margin: 40px 0 20px 0;
    text-shadow: 1px 0 2px black;
}
input {
    z-index: 1px;
    padding-left: 45px;
  color: #000;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 30px;
  width: 222px;
  height: 50px;
  border: none;
  font-size: 16px;
  color: #777777;
  background-color: #f3efef;
}

.btn {
  display: block;
  background-color: #a1d337;
  color: #ffffff;

  text-align: center;
  margin: 15px auto;
  border-radius: 30px;

  width: 225px;
  height: 50px;
  border: 1px solid #ff8c00;
  font-size: 25px;
}

img {
  display: inline-block;
  width: 200px;
}

.box {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
}

.squre {
  width: 270px;
  
 height: 180px;
  background: #7eb2e1;
}
.squre::afrer{
    clip-path: polygon(0 0, 100% 0, 75% 5%, 50% 10%, 25% 5%);
    margin: auto;
    width: 200px;
    height: 100px;
    background-color:red;
}
.time {
  font-size: 33px;
  text-align: center;
  color: #483c08;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: bold;
}
.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: auto 30px;
}
.old_price {
  color: #6b6b6b;
  font-weight: 700px;
  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.new_price {
  color: #483c08;
  font-weight: 900px;
  font-size: 36px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.countdown {
  color: #f6e791;
  font-size: 36px;
  text-align: center;
}

.new_price {
  display: box;
  color: #483c08;
  size: 36px;
}

.about {
  background: url("../images/Group\ 5.png") center/cover no-repeat;
  min-height: 671px;
  padding: 100px 0 100px 0;
}
.gr {
  font-size: 52px;
  text-align: center;
  background: linear-gradient(#f9e994, #537d13, #483c08);
  -webkit-background-clip: text; /* Обрезаем фон по тексту */
  -webkit-text-fill-color: transparent; /* Прозрачный текст */
}
.about_cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about_card {
  margin-top: 61px;
  width: 305px;
  height: 439px;
  background-color: #f6e791;
  border-radius: 20px;
}
.card_deckr {
  width: 275px;
  padding: 1px;
  margin: 0 auto;
  border-radius: 20px;
  height: 218px;
  background-color: #a1d337;
}
.imges {
  display: block;
  margin: 0 auto;
  padding: 10px;
}
.card_head {
  margin-top: 14px;
  text-align: center;
  font-weight: 700;
  color: #fff;
  font-size: 22px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.card_text {
  margin-top: 9px;
  text-align: center;
  font-weight: 700;
  padding: 1px;
  color: #483C08;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.footer {
  min-height: 770px;
  padding: 100px 0 100px 0;

  background: linear-gradient(180deg, #E1EDF8 0%, rgba(127, 179, 225, 0) 59.37%, rgba(0, 0, 0, 0.25) 100%);

}
.footer_header {
  text-align: center;
  font-weight: 700;
  color: #537d13;
  font-size: 52px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.footer_wrapeer {
  display: flex;
  justify-content: space-between;
}
.footer_hex {
  margin-top: 58px;
  width: 760px;
 
  background-image: url('/images/Rectangle\ 11.png');
 background-repeat:no-repeat;
  height: 354px;
  position: relative;
}

.footer_deckr {
    
  padding: 40px;

max-width: 700px;
  font-weight: 400;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.deckr_img {
  
  margin-top: 75px;

  align-self: center;
}

.deckr_img1 {
display: inline;
width: 300px;
height: 300px;
align-self: center;
}
