*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.container {
    max-width: 1170px;
    margin: 0 auto;

}

.main {
    background:url('../images/1.jpg')center no-repeat;
    
  
    min-height: 844px;
    padding: 35px 0 100px 0;
   
      
    background: linear-gradient( rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.6)),url('../images/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    
    
    }
    
    /* .main::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.5);
        z-index: -2;
    } */
.nav {
 
    /* background-image: url("../images/layer1.png"); */
   
 
}

.wpapper{
    display: flex;
    justify-content: space-between;
align-items: center;
}

a {
    color: #715D00;
    margin: auto 26px;
}


h1 {
 
  text-align: center;
    color: #F9E994;
    font-size: 52px;
    font-weight: 700;
    margin:0 auto;
    word-wrap: break-word;
    width: 700px;
}

.cat {
    margin-top: 42px;
    max-width: 400px;
    font-size: 26px;
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.main_deckr {
   
  
margin-top: 60px;
    
    border-radius: 15px;
    width: 323px;
    height: 266px;
    background-color: #7FB3E1;
}

.deckr {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    max-width: 250px;
    font-size: 22px;
margin-top: 40px;
  

}


.i{

float: left;
    margin-left: 10px;
   height: 24px;
   width: 24px;
}
.d{


position: relative;
    display: flex;
    flex-direction: row;
    width: 420px;
    height: 400px;
}
.d img{
    width: 100%;
}
.defore{
    position: absolute;
height: 100%;
   right: 265px;
   top: 100px;
   z-index: 1;

}
.center{
    position: absolute;
    margin-top: 62px;
    height: 100%;
    
    margin-left: -50px;
}
.after{
    position: absolute;
    height: 100%;
    
       left: 105px;
       top: 100px;
    
}
.form {
  
text-align: center;
    display: flex;
   
    flex-direction: column;
    width: 270px;
background-color:burlywood;
margin-top: 8px;
max-height: 462px;
}

input {

color: #000;
font-size: 20px; 
margin-top: 10px;
    border-radius: 30px;
    width: 222px;
    height: 50px;
border:none;
background-color:#F3EFEF;

}

.btn {
    display: block;
    background-color: #A1D337;
    color: #ffffff;

    text-align: center;
    margin: 10px auto;
    border-radius: 30px;

    width: 225px;
    height: 50px;
    border: 1px solid #ff8c00;
    font-size: 25px;
}

img {
    display: inline-block;
    width: 200px;
}

.box {

    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;

}

.squre {
  
    width: 270px; 
    height: 490px;
    clip-path: polygon(0% 0%, 100% 0, 100% 50%, 50% 60%, 0 50%);
    background: #7EB2E1;
}

.time {

    font-size: 33px;
    text-align: center;
    color: #483C08;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: bold;
}
.price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  margin: auto 30px;
}
.old_price{
color:  #6B6B6B;
font-weight: 700px;
font-size: 30px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.new_price{
    color:#483C08;
    font-weight: 900px;
    font-size: 36px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.countdown {
    color: #F6E791;
    font-size: 36px;
    text-align: center;
}

.new_price {
    display: box;
    color: #483C08;
    size: 36px;
}

 


.about {
    background:url('../images/Group\ 5.png')center/cover no-repeat;
    min-height: 671px;
    padding: 100px 0 100px 0;
}
.gr{
   font-size: 52px;
   text-align: center;
   background: linear-gradient(#F9E994, #537D13, #483C08
   );
   -webkit-background-clip: text; /* Обрезаем фон по тексту */
   -webkit-text-fill-color: transparent; /* Прозрачный текст */
}
.about_cards{
    display: flex;
    justify-content: space-between;
flex-wrap: wrap;
}
.about_card{
    margin-top: 61px;
    width: 305px;
    height: 439px;
    background-color:#F6E791;
    border-radius: 20px;
}
.card_deckr{
    width: 275px;
    padding: 1px;
    margin: 0 auto;
    border-radius: 20px;
    height: 218px;
    background-color: #A1D337;
}
.imges{
    display: block;
    margin: 0 auto;
}
.card_head{
    margin-top: 14px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    font-size:22px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.card_text{
    margin-top: 19px;
    text-align: center;
    font-weight: 700;
    color: #000;
    font-size:18px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.footer{
    min-height: 770px;
    padding: 100px 0 100px 0;
    background: linear-gradient(45deg,#E1EDF8 100%,#7FB3E1 0%,#000000 25%    );
}
.footer_header{
 
    text-align: center;
    font-weight: 700;
    color: #537D13;
   font-size: 52px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.footer_wrapeer{
    display: flex;
    justify-content: space-between;
    
  
}
.footer_hex{
margin-top: 58px;
width:760px;
background-color:red;
border: 20px #D4DF6D solid;
height: 354px;
position: relative;

}
.footer_hex::after{
    content: '';
    height:254px;
    width:254px;
    position: absolute;
  
    top: 10%;
    right: -130px;
    border-top: #D4DF6D solid 20px;
    border-left: #D4DF6D solid 20px;
    transform: rotate(135deg);
}
.footer_deckr{
  padding: 10px;
  z-index: -1px;
  /* width:760px; */
    font-weight: 400;
    font-size: 18px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}
.deckr_img{
    margin-top: 85px;
   
    align-self: center;
}